
section.side-by-side {
  .content-side {
    &__inner {
      max-width: 630px;
      width: 100%;
    }

    .sub-title {
      margin-bottom: 40px;
    }

    .title {
      margin-bottom: 40px;
    }

    .link {
      color: $white;
      background: #111622;
      box-shadow: 0 10px 15px -3px rgba(4, 19, 49, 0.1), 0 4px 6px -4px rgba(4, 19, 49, 0.1);
      border-radius: 6px;
      padding: 12px 20px;
      font-weight: 500;
      font-size: 18px;
      transition: 0.3s ease all;

      &:hover {
        background-color: $indigo;
      }
    }
  }

  .image-side {
    overflow: hidden;
    display: flex;

    &__img {
      max-width: 630px;
      max-height: 488px;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .left {
    .content-side {
      padding-left: 10px;
    }
  }

  .right {
    flex-direction: row-reverse;

    .image-side {
      justify-content: flex-end;
    }

    .content-side {
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  section.side-by-side {
    .content-side {
      margin-bottom: 8px;

      .link {
        margin-bottom: 40px;
      }
    }

    .left {
      .content-side {
        padding-left: 0;
        //justify-content: center;
      }
    }

    .right {
      flex-direction: column-reverse;

      .image-side {
        justify-content: center;
      }

      .content-side {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.side-by-side {
    .content-side {
      &__inner {
        max-width: 500px;
      }
    }
  }
}
