
section.side-by-side {
  .content-side {
    &__inner {
      max-width: 630px;
      width: 100%;
    }

    .sub-title {
      margin-bottom: 40px;
    }

    .title {
      margin-bottom: 20px;
    }

    .desc {
      font-size: 18px;
      line-height: 31.5px;
      color: #46556a;

      ul {
        margin-top: 36px;

        li {
          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='10' viewBox='0 0 12 10' fill='none'%3E%3Cpath d='M1 4.47059L4.32143 8L11 1' stroke='%23554CE6' stroke-width='2'%3E%3C/path%3E%3C/svg%3E%0A");
            margin-right: 12px;
          }
        }
      }
    }

    .link {
      margin-top: 20px;
    }
  }

  .image-side {
    overflow: hidden;
    display: flex;

    &__img {
      max-width: 630px;
      max-height: 488px;
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
  }

  .left {
    .content-side {
      padding-left: 10px;
    }
  }

  .right {
    flex-direction: row-reverse;

    .image-side {
      justify-content: flex-end;
    }

    .content-side {
      padding-right: 10px;
    }
  }
}

@media screen and (max-width: 1024px) {
  section.side-by-side {
    .content-side {
      margin-bottom: 8px;

      .link {
        margin-bottom: 40px;
      }
    }

    .left {
      .content-side {
        padding-left: 0;
        //justify-content: center;
      }
    }

    .right {
      flex-direction: column-reverse;

      .image-side {
        justify-content: center;
      }

      .content-side {
        padding-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section.side-by-side {
    .content-side {
      &__inner {
        max-width: 500px;
      }
    }
  }
}
