
.nav-footer {
  flex: max-content;

  .footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @media screen and (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-gap: 56px;
    }

    > li {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      color: #e1e8f1;
      cursor: none;

      > a {
        color: inherit;
        margin-bottom: 28px;
        cursor: default;
      }
    }
  }

  .sub-menu {
    margin-top: 28px;

    li {
      font-size: 15px;
      line-height: 32px;
      color: #cad5e2;
      font-weight: 400;
      cursor: pointer;
      margin-bottom: 16px;

      a {
        color: inherit;
      }
    }
  }
}

.site-footer {
  background: #090a0d;
  padding: 120px 0 250px;

  @media screen and (max-width: 768px) {
    padding: 92px 0 160px;
  }

  &__main {
    @include adaptiv-margin-bottom(108, 72);

    @media screen and (max-width: 576px) {
      margin-bottom: 72px;
    }
  }

  &__logo {
    margin-bottom: 40px;

    &-img {
      width: 40px;
      height: 40px;
    }

    p {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #e1e8f1;
    }
  }

  &__text {
    font-weight: 300;
    color: #90a2bc;
    max-width: 197px;

    @include adaptiv-margin-right(128, 0);

    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
      margin-bottom: 86px;
      margin-right: 0;
    }
  }

  &__copyright {
    padding-top: 46px;
    border-top: 1px solid #354153;
    color: #60738f;

    .socials {
      &-list {
        li {
          img {
            height: 24px;
            width: 24px;
            transition: 0.3s ease all;
          }

          &:not(:last-child) {
            margin-right: 24px;
          }

          &:hover {
            img {
              scale: 1.1;
            }
          }
        }
      }

      @media screen and (max-width: 768px) {
        margin-top: 50px;
      }
    }
  }
}
